<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
    </head>
    <body>
        <p>Lorem ipsum dolor sit amet, ne usu nominavi torquatos. Ad odio ignota verterem duo, vis numquam erroribus ne. Rebum iudico in cum, saepe ridens perpetua vis ex, et expetenda hendrerit mel. Eu erat error quo, at vel appetere intellegebat. At delectus definiebas vis. Quo affert delenit euripidis et. Congue legendos euripidis vis an, ei sed duis recusabo corrumpit, has no ignota verterem. Id falli vituperata usu, ei eum modo cibo omnis, ad alii luptatum mel. Eu quem altera scripta ius, vix ea soluta senserit. Ne dicam vocent equidem pri, sed in fabellas voluptaria.</p>
    </body>
</html>